header{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 100%;
   height: 180px;
   /* background-image: linear-gradient(rgba(114, 102, 102, 0.6),rgba(218, 204, 204, 0.448)); */
   font-family: "Raleway", sans-serif;
}
header div p span{
    background-color: black;
    color: white;
    padding: 2px 10px;
}
.row{
    margin: auto;
    width: 97%;
}
.row .col-lg-8 .card img{
    width: 100%;
    height: 260px;
}
.row .col-lg-4 .card .row .col-3 .m-2 img{
    width: 100%;
    height: 50px;
    margin-top: 15px;
}
.row .col-lg-4 .card .row .col-9 div{
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 75px;
   padding-top: 20px;
   margin-left: -20px;
   border-bottom: 1px solid grey;
   /* margin-bottom: 5px; */

   
    
}
.row .col-lg-4 .card .row .col-9 div h5{
    font-size: 15px;
    
}
.row .col-lg-4 .card .row .col-9 div p{
    font-size: 14px;
    margin-top: -5px;
}
.card{
    
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.656);
}
.span-text{
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

footer{
    margin-top: 40px;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 20px;
}
footer button{
    border: none;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
   
}
footer div {
    color: white;
    font-family: "Raleway", sans-serif;
}

footer div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.798);
}
footer div a:hover{
    text-decoration: underline;
    color:black;
    font-weight: bold;
}
